h1 {
    text-align: center;
    font-family: 'Squada One', cursive;
    font-size: 60px;
  }
  
  .jumbotron {
    font-family: 'Roboto Slab', serif;
    background-image: url('https://i.imgsafe.org/bc/bc1bb6b221.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 700px;
    text-align: center;
    margin-bottom: -50px;
  }
  
  button {
      background-color: black;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
  
  .footer {
    text-align: center;
    color: white;
    background: black;
    height: 50px;
  }